

//// Web-Body
.web-body
{
    width: 100%;
}



//// Header
.header
{
    background-color: lightblue;
    display: flex;
    width: 100%;
    height: auto;
    min-height: 60px;
    min-width: 375px;
    margin-top: 5px;
    justify-content: space-between;

    .header-leftSite
    {
        display: flex;
        width: 250px;
        margin-left: 50px;
        margin-right: 50px;
        padding-top: 20px;
        padding-bottom: 20px;

        h2
        {
            font-family: Arial, Helvetica, sans-serif;
            color: #0396E2;
            font-weight: 1000;
            font-size: 30px;
            margin: 0px;
        }
    }

    .header-rightSite
    {
        width: auto;
        display:flex;
        margin-left: 50px;
        margin-right: 50px;

        .header-rightSite-ul
        {
            display: flex;
            padding-left:0;
            margin: 0;
            align-items: center;
        }

        .header-rightSite-li
        {
            list-style-type: none;
        }
    }

    .header-logoLink
    {
        padding-right: 20px;
    }

    .header-iconFacebook
    {
        color: blueviolet;
        width: 30px;
        height: 30px;
    }

    .header-iconInstagram
    {
        color: green;
        width: 30px;
        height: 30px;
    }

    .header-iconLink
    {
        padding-top: 20px;
        margin-right: 15px;
    }

    .header-logoLink:hover
    {
        opacity: 50%;
    }

    .header-iconFacebook:hover
    {
        width: 35px;
        height: 35px;
    }

    .header-iconInstagram:hover
    {
        width: 35px;
        height: 35px;
    }
}



//// Navbar
.navigationbar
{
    margin-bottom: 10px;
    display: flex;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
    background-color: whitesmoke;
    min-width: 375px;
    width: 100%;

    .navigationbar-ul
    {
        height: auto;
        display: flex;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-left-width: 1px;
        border-left-style: solid;
        border-left-color:deepskyblue;
        width: inherit;   
    }

    .navigationbar-li
    {
        list-style-type: none;
        height: auto;   
    }

    .navigationbar-li-link
    {
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color:deepskyblue;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-decoration: none;
    }

    .navigationbar-li-link:hover
    {
        background-color: lightblue;
        color: red;
        font-weight: bold;
    }

    .navigationbar-li-link-active
    {
        @extend .navigationbar-li-link;
        background-color: lightblue;
        color: red;
        font-weight: bold;
    }

    .navigationbar-left-empty
    {
        transition: 0.3s;
        width: 257px;
        min-width: 257px;
    }

    .navigationbar-right
    {
        width:inherit
    }
}



//// Navigationbar ve forme short
.navigationbar-left-empty-sidebar-short
{
    transition: 0.3s;
    width: 77px;
    min-width: 77px;
}



//// Mobile slidebar
.mobile-navigationbar
{
    width: 100%;
    background-color: bisque;
    display: none;
    margin-bottom: 5px;
    min-width: 375px;
    
    .mobile-navigationbar-flex-end
    {
        display: flex;
        justify-content: flex-end;
        height: 50px;
    }

    .mobile-navigationbar-menuIcon
    {
        display: inline-block;
        cursor: pointer;
        margin-right: 15px;
        padding-top: 5px;
        padding-bottom: 4px;
    }

    .mobile-bar1, .mobile-bar2, .mobile-bar3
    {
        width: 35px;
        height: 5px;
        background-color: royalblue;
        margin: 6px 0;
        transition: 0.8s;
    }
}

.mobile-navigationbar-open
{
    @extend .mobile-navigationbar;
    background-color: lightblue;

    .mobile-bar1
    {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .mobile-bar2
    {
        opacity: 0;
    }

    .mobile-bar3
    {
        transform: translate(0, -11px) rotate(45deg);
    }
}



//// Main body
.mainbody
{
    display: flex;
    width: 100%;
    height: fit-content;
    margin-bottom: 5px;
    background-color: white;
    min-width: 375px;
}



//// Slidebar
.sidebar
{
    background-color: lightblue;
    border-style: solid;
    border-radius: 20px;
    border-width: 0px;
    min-height: 1000px;
    width: 250px;
    min-width: 250px;
    margin-left: 5px;
    padding-top: 30px;
    transition: 0.3s;

    h4
    {
        margin: 0;
        margin-left: 15px;
        font-size: large;
        transition: 0.5s;
    }

    .sidebar-ul
    {
        border-top-style: solid;
        border-top-width: 1px;
        border-color:blueviolet;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-color:blueviolet;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 40px;
        padding-left: 0px;
        list-style-type: none;
        align-items: center;
        transition: 0.3s;
    }

    .sidebar-li
    {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        transition: 0.3s;
        font-size: large;
    }

    .sidebar-li-link
    {
        text-decoration: none;
    }

    .sidebar-li-link-icon
    {
        margin-right: 10px;
        vertical-align: text-top;
        width: 30px;
        height: 30px;
        transition: 0.3s;
    }

    .slidebar-text
    {
        transition: 0.5s;
    }

    .sidebar-li-link:hover
    {
        text-decoration:underline;
        color: red;
    }

    .sidebar-li-link-active
    {
        text-decoration: none;
        color: red;
    }

    .sidebar-li-link-active:hover
    {
        text-decoration: underline;
        color: red;
    }

    .sidebar-head
    {
        justify-content:flex-end;
        display: flex;
        margin-right: 15px;
        margin-bottom: 30px;

        .sidebar-head-menuIcon
        {
            display: inline-block;
            cursor: pointer;
        }

        .bar1, .bar2, .bar3
        {
            width: 35px;
            height: 5px;
            background-color: royalblue;
            margin: 6px 0;
            transition: 0.8s;
        }

        .bar1
        {
            transform: translate(0, 11px) rotate(-45deg);
        }

        .bar2
        {
            opacity: 0;
        }

        .bar3
        {
            transform: translate(0, -11px) rotate(45deg);
        }
    }
}



//// Nastaveni sidebar ve forme short
.sidebar-short
{
    @extend .sidebar;
    background-color: bisque;
    width: 70px;
    min-width: 70px;

    h4
    {
        margin-left: -500px;
    }

    .sidebar-head
    {
        justify-content: center;
        margin-right: 0px;
    }

    .sidebar-li
    {
        padding-left: 10px;
    }

    .slidebar-text
    {
        margin-left: -500px;
        opacity: 0;
    }

    .sidebar-head
    {
        .bar1 
        {
            transform: translate(0, 0px) rotate(0deg);
        }
            
        .bar2 
        {
            opacity: 100;
        }
            
        .bar3 
        {
            transform: translate(0, 0px) rotate(0deg);
        }
    }
}



//// Mobile sidebar
.mobile-sidebar
{
    width: 100%;
    transition: 0.4s;
    height: 0px;

    .mobile-sidebar-flex
    {
        display: flex;
        justify-content: flex-start;
        padding-left: 20px;
        padding-right: 20px;
    }

    hr
    {
        margin: 0px;
        margin-left: 20px;
        margin-right: 20px;
        opacity: 0;
        padding: 0px;
        transition: 1s;
    }

    h4
    {
        margin-left: -500px;
        margin-bottom: 0px;
        padding-top: 10px;
        padding-bottom: 5px;
        padding-left: 15px;
        font-size:medium;
        transition: 0.5s;
    }

    .mobile-sidebar-ul
    {
        margin-left: -500px;
        margin-top: 5px;
        margin-right: 0px;
        margin-bottom: 20px;
        padding-left: 30px;
        list-style-type: none;
        align-items: center;
        width: 200px;
        transition: 0.5s;
    }

    .mobile-sidebar-li
    {
        font-size: medium;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .mobile-sidebar-li-link
    {
        text-decoration: none;
    }

    .mobile-sidebar-li-link-icon
    {
        margin-right: 10px;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
    }

    .mobile-sidebar-li-link:hover
    {
        text-decoration:underline;
        color: red;
    }

    .mobile-sidebar-li-link-active
    {
        text-decoration: none;
        color: red;
    }
}



//// Mobile sidebar open
.mobile-sidebar-open
{
    @extend .mobile-sidebar;
    display: block;
    height: 200px;

    h4
    {
        //transition: 1s;
        margin-left: 0px;
    }

    hr
    {
        opacity: 0.5;
    }

    .mobile-sidebar-ul
    {
        margin-left: 0px;
    }
}



//// Content body
.contentBody
{
    background-color: whitesmoke;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: rgb(196, 176, 176);
    width: 100%;   
    height:fit-content;
    min-height: 1000px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}



// Pri velkem zmenseni okna prohlizece
@media screen and (max-width: 1000px) 
{
    .header
    {
        .header-leftSite
        {
            margin-left: 30px;
            margin-right: 0px;
            width: 150px;
        }

        .header-rightSite
        {
            margin-right: 20px;
        }
    }

    .navigationbar
    {
        margin-bottom: 2px;

        .navigationbar-ul
        {
            margin-left: 10px;
        }

        .navigationbar-left-empty
        {
            display: none;
        }

        .navigationbar-left-empty-sidebar-short
        {
            display: none;
        }
    }

    .mobile-navigationbar
    {
        display: block;
    }
    
    .sidebar
    {
        display: none;
    }

    .mobile-sidebar
    {
        display: block;
    }
}