
//// Text
h3.price-normal
{
    margin:10px
}

div.price-text-normal
{
    font-size: medium;
    margin: 10px;
}



//// Rozlozeni stranky
.price-body
{
    width: 100%;

    .price-priceList-segment
    {
        margin: 10px;
        margin-top: 30px;
        margin-bottom: 50px;

        .price-priceList-segment-text
        {
            width: 100%;
            margin-right: 10px;

            h4
            {
                margin-bottom: 20px;
            }

            h6
            {
                color: blueviolet;
                font-style: oblique;
            }
        }

        .price-priceList-segment-img
        {
            overflow-x: auto;
        }
    }
}